/MultiThreadingDemo/obj
/MultiThreadingDemo/bin
/.vs
/SpinLockDemo/obj
/SpinLockDemo/bin
/TheMutexDemo/obj
/TheMutexDemo/bin

.fake
.ionide
/MixedLockDemo/obj
/MixedLockDemo/bin
/.vscode
/SemaphoreDemo/obj
/SemaphoreDemo/bin
